@font-face {
  font-family: 'JetBrainsMono-Regular';
  src: url('./JetBrainsMono-Regular.woff2');
}

@font-face {
  font-family: 'JetBrainsMono-ExtraBold';
  src: url('./JetBrainsMono-ExtraBold.woff2');
}

@font-face {
  font-family: 'JetBrainsMono-Bold';
  src: url('./JetBrainsMono-Bold.woff2');
}
