.custom-editor {
  :deep(.jsoneditor-poweredBy) {
    display: none;
  }

  :deep(.jsoneditor) {
    @include theme-control {
      border: 1px solid get-theme-val('layoutBgColor');
      transition: border-color $g_transitionParam;
    }

    border-radius: $g_radius;
    overflow: hidden;

    div {
      font-family: $g_fontFamily  !important;
    }
  }

  :deep(.jsoneditor-menu) {
    @include background-color('headBgColor');

    @include theme-control {
      border-bottom: 1px solid get-theme-val('logoColor');
      transition: border-color $g_transitionParam;
    }

    & button {
      background-image: unset;
      @include font-color('fontColor');
    }

    & button:hover {
      @include background-color('logoColor')
    }

  }

  :deep(.jsoneditor-frame) {
    @include background-color__no-trans('layoutBgColor');
    border-radius: 4px;
    overflow: hidden;

    & input {
      line-height: 20px;
      @include font-color('fontColor');
      @include background-color__no-trans('layoutBgColor');
    }
  }

  :deep(.jsoneditor-results) {
    @include font-color('fontColor');
  }

  :deep(.jsoneditor-navigation-bar) {
    @include background-color('layoutBgColor')
  }

  :deep(.jsoneditor-selected) {
    @include background-color('logoColor')
  }

  :deep(.jsoneditor-navigation-bar) {
    border-bottom: unset;
  }

  // 背景色
  :deep(.jsoneditor-tree) {
    @include background-color('headBgColor');

    div {
      @include font-color__imp('fontColor');
    }
  }

  :deep(.jsoneditor-highlight) {
    @include background-color('editorSelectedColor');
  }

  :deep(.jsoneditor-separator) {
    @include background-color('headBgColor');
  }

  :deep(.jsoneditor-field) {

    &:hover,
    &:focus {
      @include theme-control {
        background-color: get-theme-val('logoColor');
        border-color: get-theme-val('logoColor');
      }
    }
  }

  :deep(.jsoneditor-value) {

    &:hover,
    &:focus {
      @include theme-control {
        background-color: get-theme-val('logoColor');
        border-color: get-theme-val('logoColor');
      }
    }
  }

  :deep(.jsoneditor-preview) {
    @include font-color('fontColor');
    @include background-color('headBgColor')
  }

  :deep(.jsoneditor-statusbar) {
    @include font-color('fontColor');
    @include background-color('headBgColor')
  }

  :deep(.ace_gutter) {
    @include font-color('fontColor');
    @include background-color('headBgColor')
  }

  :deep(.ace_content) {
    @include font-color('fontColor');
    @include background-color('headBgColor')
  }

  :deep(.ace_gutter-active-line) {
    @include background-color('editorSelectedColor');
  }

  :deep(.ace_text-layer) {
    @include font-color('fontColor');
  }

  :deep(.ace_variable) {
    @include font-color('fontColor');
  }

  :deep(.ace_string) {
    @include font-color('logoColor');
  }

  :deep(.ace_active-line) {
    @include background-color('editorSelectedColor');
  }

  :deep(.ace_fold) {
    @include background-color('editorSelectedColor');
  }

  :deep(textarea.jsoneditor-text) {
    @include font-color('fontColor');
    @include background-color('headBgColor')
  }

  :deep(td.jsoneditor-separator) {
    padding: 6px 0;
  }
}