.custom-editor {
  :deep(.jsoneditor-poweredBy) {
    display: none;
  }

  :deep(.jsoneditor) {
    border: unset;

    border-radius: $g_radius;
    overflow: hidden;

    div {
      font-family: $g_fontFamily  !important;
    }
  }

  :deep(.jsoneditor-contextmenu) {
    .jsoneditor-menu {
      box-shadow: unset;

      & button {
        @include theme-control {
          background-color: get-theme-val('headBgColor') !important;
        }
      }
    }
  }

  :deep(.jsoneditor-menu) {
    @include background-color('headBgColor');

    @include theme-control {
      border-bottom: 1px solid get-theme-val('logoColor');
    }

    & button {
      background-image: unset;
      // @include theme-control {
      //   background-color: get-theme-val('headBgColor') !important;
      // }
      @include font-color('fontColor');
    }

    & button:hover {
      @include theme-control {
        background-color: get-theme-val('logoColor') !important;
      }
    }

  }

  :deep(.jsoneditor-frame) {
    @include background-color('layoutBgColor');
    border-radius: 4px;
    overflow: hidden;

    & input {
      line-height: 20px;
      @include font-color('fontColor');
      @include background-color('layoutBgColor');
    }
  }

  :deep(.jsoneditor-results) {
    @include font-color('fontColor');
  }

  :deep(.jsoneditor-navigation-bar) {
    @include background-color('layoutBgColor')
  }

  :deep(.jsoneditor-selected) {
    @include background-color('editorSelectionColor')
  }

  :deep(.jsoneditor-navigation-bar) {
    border-bottom: unset;
  }

  // 背景色
  :deep(.jsoneditor-tree) {
    @include o-scroll;
    @include background-color('headBgColor');

    // div {
    //   @include font-color__imp('fontColor');
    // }
    input {
      margin-top: 6px;
    }
  }

  :deep(.jsoneditor-highlight) {
    @include background-color('editorActiveColor');
  }

  :deep(.jsoneditor-separator) {
    @include background-color('headBgColor');
  }

  :deep(.jsoneditor-field) {

    &:hover,
    &:focus {
      @include theme-control {
        background-color: get-theme-val('logoColor');
        border-color: get-theme-val('logoColor');
      }
    }
  }

  :deep(.jsoneditor-value) {

    &:hover,
    &:focus {
      @include theme-control {
        background-color: get-theme-val('editorSelectionColor');
        border-color: get-theme-val('editorSelectionColor');
      }
    }
  }

  :deep(.jsoneditor-preview) {
    @include o-scroll;
    @include font-color('fontColor');
    @include background-color('headBgColor')
  }

  :deep(.jsoneditor-statusbar) {
    @include font-color('fontColor');
    @include background-color('headBgColor')
  }

  :deep(.ace_gutter) {
    @include font-color('fontColor');
    @include background-color('headBgColor')
  }

  :deep(.ace_content) {
    @include font-color('fontColor');
    @include background-color('headBgColor')
  }

  // :deep(.ace_gutter-active-line) {
  //   @include background-color('editorActiveColor');
  // }

  :deep(.ace_text-layer) {
    @include font-color('fontColor');
  }

  :deep(.ace_variable) {
    @include font-color('fontColor');
  }

  :deep(.ace_string) {
    @include font-color('logoColor');
  }

  :deep(.ace_active-line) {
    // @include background-color('editorActiveColor');
    background-color: unset;
  }

  :deep(.ace_cursor) {
    @include theme-control {
      border-left: 2px solid get-theme-val('fontColor');
    }
  }

  :deep(.ace_fold) {
    @include background-color('editorActiveColor');
  }

  :deep(textarea.jsoneditor-text) {
    @include o-scroll;
    @include font-color('fontColor');
    @include background-color('headBgColor')
  }

  :deep(td.jsoneditor-separator) {
    padding: 6px 0;
  }

  :deep(.ace_indent-guide) {
    background: unset;
  }

  :deep(.ace_selection) {
    @include background-color('aceSelectionColor');
  }

  :deep(.ace_gutter-active-line) {
    background-color: unset;
  }

  :deep(.ace_editor) {
    @include background-color('headBgColor');
  }

  :deep(.ace_scroller) {
    @include background-color('headBgColor');
  }

  :deep(.ace_scrollbar) {
    @include o-scroll;
  }

  :deep(.jsoneditor-field) {
    @include font-color('fontColor');
  }

  :deep(.jsoneditor-readonly) {
    @include font-color('fontColor');
  }

  :deep(.jsoneditor-color-value) {
    @include font-color('fontColor');
  }

  :deep(.jsoneditor-object) {
    @include font-color('logoColor');
  }

  :deep(.jsoneditor-array) {
    @include font-color('logoColor');
  }

  :deep(.jsoneditor-string) {
    @include font-color('logoColor');
  }

  :deep(.jsoneditor-button) {
    &:focus {
      @include background-color('logoColor');
      outline: unset;
    }
  }

  :deep(.jsoneditor-icon) {
    top: 2px;
  }

  :deep(.jsoneditor-treepath-element) {
    font-family: $g_fontFamily;
  }
}