.o-dialog {
  &.el-dialog {
    border-radius: $g_radius;
    @include background-color('dialogBgColor');

    @include theme-control {
      border: 2px solid get-theme-val('dialogBgColor');
    }
  }

  .el-dialog__header {
    @include font-color('fontColor');
    @include background-color('dialogBgColor');
    margin-right: unset;
    padding-bottom: 0px;
  }

  .el-dialog__title {
    @include font-color('fontColor');
  }

  .el-dialog__body {
    @include font-color('fontColor');
    @include background-color('dialogBgColor');
  }
}

.o-divider {
  &.el-divider--horizontal {
    @include theme-control {
      border-top-color: get-theme-val('logoColor');
    }
  }

  .o-divider__text {
    @include font-color('fontColor');
  }

  .el-divider__text {
    @include background-color('dialogBgColor');
  }
}

.o-form {
  .el-form-item__label {
    @include font-color('fontColor');
  }
}

.o-switch {
  &.is-checked {
    .el-switch__core {
      @include theme-control {
        border-color: get-theme-val('logoColor') !important;
        background-color: get-theme-val('logoColor') !important;
      }
    }
  }
}

.o-radio-group {
  .is-checked {
    .el-radio__inner {
      @include theme-control {
        border-color: get-theme-val('logoColor') !important;
        background-color: get-theme-val('logoColor') !important;
      }
    }

    .el-radio__label {
      @include font-color('logoColor');
    }
  }

  .el-radio__label {
    @include font-color('fontColor');
  }
}

.o-select {
  .el-input__wrapper {
    @include background-color('layoutBgColor');
    box-shadow: unset;

    &.is-focus {
      @include theme-control {
        box-shadow: 0 0 0 1px get-theme-val('logoColor') inset !important;
      }
    }

    &:hover {
      @include theme-control {
        box-shadow: 0 0 0 1px get-theme-val('logoColor') inset !important;
      }
    }

    .el-input__prefix {
      @include font-color('fontColor');
    }

    .el-input__inner {
      @include font-color('fontColor');
    }
  }

}

.o-popper {
  &.el-popper {
    @include theme-control {
      background-color: get-theme-val('layoutBgColor');
    }

    border: unset !important;
    background: unset;
  }

  .el-popper__arrow {
    &::before {
      @include theme-control {
        background: get-theme-val('layoutBgColor') !important;
        border: 1px solid get-theme-val('layoutBgColor') !important;
      }
    }
  }

  .el-select-dropdown__item {
    @include font-color('fontColor');

    &.selected {
      @include font-color('fontColor');
      @include background-color('logoColor');
    }

    &.hover {
      @include background-color('editorSelectedColor');
    }

    &:hover {
      @include background-color('editorSelectedColor');
    }
  }
}

.o-input {
  .el-input__wrapper {
    @include background-color('layoutBgColor');
    box-shadow: unset;

    &:hover {
      box-shadow: unset;
    }

    &.is-focus {
      @include theme-control {
        box-shadow: 0 0 0 1px get-theme-val('logoColor') inset !important;
      }
    }
  }

  .el-input__prefix {
    @include font-color('fontColor');
  }

  .el-input__inner {
    @include font-color('fontColor');
  }
}

.o-notification {
  &.el-notification {
    @include theme-control {
      background-color: get-theme-val('dialogBgColor');
      color: get-theme-val('logoColor') !important;
    }

    .el-notification__icon {
      @include font-color('logoColor');
    }

    .el-notification__closeBtn {
      @include font-color('fontColor');

      &:hover {
        @include font-color('logoColor');
      }
    }

    .el-notification__title {
      @include font-color('fontColor');
    }

    .el-notification__content {
      @include font-color('fontColor');
    }

    border: unset;
  }
}