.o-dialog {
  &.el-dialog {
    border-radius: $g_radius;
    @include background-color('dialogBgColor');

    @include theme-control {
      border: 2px solid get-theme-val('dialogBgColor');
    }
  }

  .el-dialog__header {
    @include font-color('fontColor');
    @include background-color('dialogBgColor');
    margin-right: unset;
    padding-bottom: 0px;
  }

  .el-dialog__title {
    @include font-color('fontColor');
  }

  .el-dialog__body {
    @include font-color('fontColor');
    @include background-color('dialogBgColor');
  }
}

.o-divider {
  &.el-divider--horizontal {
    @include theme-control {
      border-top-color: get-theme-val('logoColor');
    }
  }

  .o-divider__text {
    @include font-color('fontColor');
  }

  .el-divider__text {
    @include background-color('dialogBgColor');
  }
}

.o-form {
  .el-form-item__label {
    @include font-color('fontColor');
  }
}

.o-switch {
  &.is-checked {
    .el-switch__core {
      @include theme-control {
        border-color: get-theme-val('logoColor') !important;
        background-color: get-theme-val('logoColor') !important;
      }
    }
  }
}

.o-radio-group {
  .is-checked {
    .el-radio__inner {
      @include theme-control {
        border-color: get-theme-val('logoColor') !important;
        background-color: get-theme-val('logoColor') !important;
      }
    }

    .el-radio__label {
      @include font-color('logoColor');
    }
  }

  .el-radio__label {
    @include font-color('fontColor');
  }
}

.o-select {
  .is-focus .el-input__wrapper {
    @include theme-control {
      box-shadow: 0 0 0 1px get-theme-val('logoColor') inset !important;
    }
  }
}