$matrix: (
	logoColor: #41b883,
	headBgColor: #2d323c,
	layoutBgColor: #21252b,
	dialogBgColor: #3F4756,
	fontColor: #e1e1e1,
	editorMainColor: #363b42,
	editorActiveColor: #515863,
	editorSelectionColor: #515863,
);