$sunlight: (
	logoColor: #ff6768,
	headBgColor: #ffffff,
	layoutBgColor: #f5f7f9,
	dialogBgColor: #fefefe,
	fontColor: #2d323c,
	editorMainColor: #ffffff,
	editorActiveColor: #e1e1e1,
	editorSelectionColor: #e1e1e1,
	aceSelectionColor: #dee2e6,
);